.addTask{
    position: fixed;
    bottom: 30px;
    left: calc(80% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    font-weight: 800;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid var(--white);
    color: var(--white);
}
.addTask:hover{
    /* top: -10px; */
    /* animation: addTaskAnim .5s 1; */
    cursor: pointer;
    transform: rotate(360deg);
    transition-duration: 1s;
}
