.addTask{
    position: fixed;
    bottom: 30px;
    left: calc(80% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    font-weight: 800;
    border-radius: 50%;
    background-color: var(--black);
    border: 5px solid var(--white);
    color: var(--white);
}

.closeAddTask{
    z-index: 10;
    transform: rotate(45deg);
    border: 3px solid var(--white);
}

@media (hover: hover){
    .addTask:hover{
        cursor: pointer;
        transform: rotate(360deg);
        transition-duration: 1s;
    }
    .closeAddTask:hover{
        color: var(--delite);
        border-color: var(--delite);
        transform: rotate(45deg);
        transition-duration: .5s;
    }
}