.todo__item{
    width: 90%;
    max-width: 750px;
    height: 4em;
    background-color: var(--black);
    margin: 0px auto 20px;
    list-style-type: none;
   border-radius: 20px;
   display: flex;
   align-items: center;
   border: 3px solid var(--white);
}

.todo__item__complete-button,
.todo__item__delete{
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}
.todo__item__complete-button{
    left: 20px;
    background-color: var(--white);
    width: 2em;
    height: 2em;
    border: 3px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo__item__delete{
    right: 20px;
    font-size: 2em;
}
@media (hover: hover){
    .todo__item__delete:hover{
        color: rgb(110, 31, 25);
    }
    
}
.todo__item__text{
    text-align: center;
    width: calc(100% - 3em);
}
.todo__item-complete{
    opacity: .5;
}
.todo__item-complete-p{
    text-decoration: line-through;
}
.icon-check{
    font-size: 1.3rem;
}
.todo__item-complete .todo__item__complete-button{
    background-color: var(--white);
    color: var(--black);
}
