.search__container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}

.search{
    width: calc(80% - 3.5em);
    height: 3.5em;
    border: var(--black);
    border-radius: 10px 0 0 10px;
    text-indent: 1em;
    display: block;
    margin-right: 1px;
    outline:  none;
}
.search, .search__button{
    border: 2px solid var(--black);
    background-color: var(--white);
    color: var(--black);
}
.search:focus{
    box-shadow: 1px 1px 3px 2px solid black;
    /* outline: tomato*/
} 
.search__button{
    width: 3.5em;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    /* border: transparent; */
}
.search__icon{
    padding: 1em;
}
.search__icon:hover{
    opacity: 1;
}

.me-borras-pendejo{
    color: black;
    position: absolute;
    top: 20px;
}