body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #8EC5FC;
background-image: linear-gradient(45deg, #8EC5FC 0%, #E0C3FC 100%);
  color: #030322;;
  min-height: 96vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  font-size: 2rem;
  text-align: center;
}
/* 

*/
:root{
  --blue: rgb(181, 228, 254);
  --purple: rgb(186, 175, 215);
  --line: #f0f0f0;
}